/*index login*/
.login-form{
    margin-top: 60px;
    box-shadow: 0px 0px 10px 1px grey;
    border-radius: 5px;
    padding-bottom: 20px;
    background: white;
}

.title{
    background: #007bbf;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 0px 0px 10px 10px;
}

body{
    background-image:url("fondo.jpg");
    background-size: cover;
   
}

/*register*/


.inputtxt{
    visibility: hidden;
  
}

/*admi*/

.bordadmi{

    border: 1px black;

}
.sse{
padding-left: 20px;
    


}

.btnaddm{
    width: 10px;
}

